.cuerpo {
    background-color: brown;
}

.encabezado {
    border: 3px solid black;
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.aenlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2vw;
    font-size: 2vw;
}



.h1 {
    color: white;
    font-size: 5vw;

}

.sobremi {
    text-align: center;
}

.cardscontainer {
    width: 80vw;
    border: 3px solid blue;
    margin: auto;
    padding: 3vw;
    border-radius: 3.5em;
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


.cardsimg {
    width: fit-content;
    border: 3px solid white;
    border-radius: 18%;
    transition: all 1s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cardsimg:hover {
    background-color: chocolate;
}

.titulologo {
    font-size: 2vw;
    font-weight: bold;
    margin-top: 2vw;
    color: white;

}


.logo {
    width: 22vw;
    height: auto;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2.5vw;
}